body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/items/menubg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.menu-item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/items/menunhsnnt.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.butterpecan {
  position: fixed;
  top: 53%;
  left: 33%;
  width: 35%;
  height: 35%;
  background-image: url("/items/butterpecan.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: roll;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hoc {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 35%;
  height: 35%;
  background-image: url("/items/hotorcold.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-container img {
  position: absolute;
  top: 14%;
  left: 68.5%;
  width: 33%;
  height: 33%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.image-container img:first-child {
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-container img:nth-child(1) {
  animation: fade 18s ease-in-out infinite;
}

.image-container img:nth-child(2) {
  animation: fade 18s ease-in-out infinite;
  animation-delay: 15s;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.back-button:hover {
  opacity: 1;
}

.back-button::before {
  content: "\2190";
  font-size: 24px;
  color: white;
  line-height: 50px;
  text-align: center;
}