@font-face {
    font-family: 'Love Coffee';
    src: url('/fonts/LoveCoffeeTrueType.ttf');
}

body {
    background-image: url("/items/menubg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

    .box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;}

.box img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.box a {
    text-decoration: none;
}

.box button {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(59, 49, 49);
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.box button:hover {
    background-color: white;
    color: black;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Love Coffee';
    font-size: 48px;
    color: #ff6a00;
    text-shadow: 2px 2px #f5deb3;
    z-index: 1;
}

.line {
    border-top: 5px solid #524a3b;
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footer button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.footer button:hover {
    background-color: white;
    color: black;
}